.horizontalScrolling_Wrapper {
    width: 95vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.horizontalScrolling_Wrapper::-webkit-scrollbar {
    display: none;
}