.card {
    width: auto;
    border-radius: 15px;
    
}
.img {
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}
@media (min-width: 576px) {
    .img {
        height: 20rem;
    }
}

@media (max-width: 575px) {
    .title {
        height: 4.5rem;
        font-size: 1rem;
    }
}

.badge {
    background-color: blueviolet;
}